* {
    padding: 0px;
    margin: 0px;
}



.bg-container {
    background-color: antiquewhite;
    box-shadow: 2px 2px 10px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: cover;
    font-family: 'roboto';
}

.formsheet-top-section {
    background-color: aqua;
    background-size: cover;
    padding: 7px;
}

.main-heading {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.form-top-sectiom-content {
    margin: 5px;
}

h4 {
    color: black;
    font-size: 24px;
}

.topinput-box {
    width: 450px;
}

label {
    font-size: 18px;
    font-weight: 400;
}

input,
select,
textarea:focus {
    outline-color: rgb(71, 128, 241);
}

.submit-card-container {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left, green, yellow);
    padding: 10px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-container-submit {
    background-image: linear-gradient(to top, gray, black);
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

